* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Noto Sans JP', sans-serif;
}

h3 {
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
}

.answer {
  font-weight: 700;
  font-size: 1rem;
  background-color: #f9f9f9;
  color: #444;
  padding: 1rem;
}

.answer:hover {
  color: white;
  font-size: 1.2rem;
  background-color: #444;
  transition: 0.5s;
}

#container {
  width: 50%;
  margin: 0 auto;
}

.accordion {
  font-size: 1.1rem;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.5s;
  }
  
 .accordion:hover {
    background-color: #ccc;
  }